<footer class="site-footer h-card">
    <data class="u-url" href="{{ " /" | relative_url }}"></data>
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col">
                <p class="feed-subscribe">
                    <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}">
                        <svg class="svg-icon orange">
                            <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
                        </svg><span>Subscribe</span>
                    </a>
                </p>
                <ul class="contact-list">
                    <li class="p-name">{{ site.author.name | escape }}</li>
                    <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <p>{{ site.description }}</p>
                <ul class="contact-list">
                    <li class="p-name">
                        <a href="https://github.com/balaji"><i class="fa-brands fa-github"></i></a>&nbsp;&nbsp;
                        <a href="https://linkedin.com/in/openbala/"><i class="fa-brands fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>