<header>
    <h1 id="title">
        <a href="/">{{site.title}}</a>
    </h1>
    <!-- <p id="description"> -->
    <!--     {{site.description}} -->
    <!-- </p> -->

    <hr/>
    <nav id="navigation">
        <a href="/">Home</a> /
        <a href="/about">About</a> /
        <a href="/tags/blog">Blogs written</a> /
        <a href="/tags/book">Books read</a> /
        <a href="/tags/movie">Movies watched</a> /
        <a href="/tags/tv">TV Shows binged</a> /
        <a href="/tags/videogame">Video Games played</a>
    </nav>
    <hr/>
</header>
