h1,
figcaption,
#description,
#navigation,
#author h3 {
    text-align: center;
}

h1 {
    font-size: 1.8em;
}

h2 {
    margin-bottom: 0px;
}

#title a {
    color: #458588;
}

#navigation a {
    font-weight: bold;
}

#h-card {
    overflow: auto;
    padding: 0px 10px 15px;
}

#h-card img {
    float: left;
    max-height: 150px;
    margin-top: -10px;
    padding-right: 15px;
}

#h-card h3 {
    margin-top: 5px;
}

#gist {
    border: 1px solid #32302f;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

#gist_date {
    padding-top: 5px;
}

.bookmark {
    background-color: #323836;
}

.blog {
    background-color: #3c3836;
}

#pages {
    text-align: center;
    margin-top: 20px;
}

#current-page {
    padding: 0px 15px;
}

#social {
    text-align: right;
}

:root {
    --light-border-color: #dee2e6;
    --code-color: #008080;
    --main-color: #008cba;
}

.callout {
    padding: 0.75rem 1rem 0.75rem 1rem;
    margin-top: 1.25rem;
    margin-bottom: 1.15rem;
    border: 1px solid var(--light-border-color);
    border-left-width: .5rem;
    border-radius: .25rem;
}

.callout-primary {
    border-left-color: var(--main-color);
}

.callout-secondary {
    border-left-color: #185977;
}

.callout-success {
    border-left-color: #45c945;
}

.callout-danger {
    border-left-color: #d9534f;
}

.callout-warning {
    border-left-color: #f0ad4e;
}

.callout-info {
    border-left-color: #5bc0de;
}

.callout-light {
    border-left-color: #f2f3f5;
}

.callout-dark {
    border-left-color: #bcbebf;
}
