---
layout: default
---
<div>
  {% for post in page.posts %}
  <div class="bookmark" id="gist">
  {{ post.gist }}
  {% if post.img != nil %}
  <br>
  <br>
  <a target="_blank" href="/assets/img/{{ post.img.src }}"><img src="/assets/img/{{ post.img.src }}" width="200" /></a>
  {% endif %}
    <div id="gist_date">
      <small>
        <em>
          <a href="{{ post.url | relative_url }}">
            {{ post.date | date:  "%b %-d, %Y" }}
          </a>
        </em>
      </small>
    </div>

  </div>
  {% endfor %}
</div>

