---
layout: default
---
<div>
{%- assign date_format = site.minima.date_format | default: "%B %-d, %Y " -%}
  {% for post in page.posts %}
  <div class="bookmark" id="gist">
  {{ post.gist }}
  {%- if post.img != nil -%}
  <br>
  <br>
    {% if post.tags contains "blog" %}
    <a href="{{ post.url }}"><img src="/assets/img/{{ post.img.src }}" width="200"/></a>
    {% else %}
    <a href="/assets/img/{{ post.img.src }}"><img src="/assets/img/{{ post.img.src }}" width="200"/></a>
    {% endif %}
{%- endif -%}
    <div id="gist_date">
      <small>
        <em>
          <a href="{{ post.url | relative_url }}">
            {{ post.date | date: date_format }}
          </a>
        </em>
      </small>
    </div>
  </div>
  {% endfor %}
</div>
