---
layout: default
---
{% if site.paginate %}
    {% assign posts = paginator.posts %}
{% else %}
    {% assign posts = site.posts %}
{% endif %}

{%- assign date_format = site.minima.date_format | default: "%B %-d, %Y " -%}

{%- if posts.size > 0 -%}
    {%- assign post_length = posts.size -%}
    {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}
    {%- for post in posts -%}
        {% if post.tags contains "blog" %}
            <div id="gist" class="blog">
        {% elsif post.tags contains "bookmark" %}
            <div id="gist" class="bookmark">
        {% else %}
            <div id="gist" class="microblog">
        {% endif %}
            {{ post.gist | truncate: 700}}
            <span>
                <em>
                    {%- for tag in post.tags -%}
                        <a style="color:#8ec07c" href="/tags/{{ tag }}">#{{ tag }}</a>&nbsp;
                    {%- endfor -%}
                </em>
            </span>
            {%- if post.img != nil -%}
            <br>
                <div style="padding-top:5px">
                  {% if post.tags contains "blog" %}
                    <a href="{{ post.url }}"><img src="/assets/img/{{ post.img.src }}" width="{{ post.img.width }}" /></a>
                  {% else %}
                    <a href="/assets/img/{{ post.img.src }}"><img src="/assets/img/{{ post.img.src }}" width="{{ post.img.width }}" /></a>
                  {% endif %}
                </div>
            {%- endif -%}
            <div id="gist_date">
                <small>
                    <em>
                      <a href="{{ post.url | relative_url }}">
                        {{ post.date | date: date_format }}
                      </a>
                    </em>
                </small>
            </div>
        </div>
    {%- endfor -%}
    
    {% if paginator.total_pages > 1 %}
        <div id="pages">
            {% if paginator.previous_page %}
                <strong>
                    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
                </strong>
            {% else %}
                <span>&laquo; Prev</span>
            {% endif %}

            {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                    <span class="webjeda">({{ page }})</span>
                {% elsif page == 1 %}
                    <a href="/">{{ page }}</a>
                {% else %}
                    <strong>
                        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                    </strong>
                {% endif %}
            {% endfor %}

            {% if paginator.next_page %}
                <strong>
                    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
                </strong>
            {% else %}
                <span>Next &raquo;</span>
            {% endif %}
        </div>
    {% endif %}
{%- endif -%}
